@font-face {
  font-family: 'Trebuchet MS';
  src: local('Trebuchet MS'), local('TrebuchetMS'),
      url('../src/fonts/TrebuchetMS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Trebuchet MS';
  src: local('Trebuchet MS Bold'), local('TrebuchetMS-Bold'),
      url('../src/fonts/TrebuchetMS-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}